<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0641d57b-3937-4ddc-bdaa-9ec8b55144b1" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The main landing page of this site</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="11545816-dbed-4c80-8bf5-339990ad9ef3">footer</Composition>
      <Composition Key="12929f89-0eee-49e7-8b3f-6287e9d16018">headerProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ca62bb4a-2b23-42e2-ad9a-72de1428c5e3">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>