<?xml version="1.0" encoding="utf-8"?>
<Content Key="66a48185-15eb-40db-a20f-62b31716ad09" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-09-12T15:53:21</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ca62bb4a-2b23-42e2-ad9a-72de1428c5e3">HomePage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p>We help you unlock the power of teams and technology so that you can confidently plan, design and build for tomorrow.</p>]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "9cb0f130-26ab-496b-8510-8b0a5e733c14",
    "mediaKey": "ded064e1-7df1-4d7f-a632-1d2328b4cf7c"
  }
]]]></Value>
    </image>
    <navigationItemQuickLinks>
      <Value><![CDATA[]]></Value>
    </navigationItemQuickLinks>
    <navigationItemTitle>
      <Value><![CDATA[Home]]></Value>
    </navigationItemTitle>
    <quickLinks>
      <Value><![CDATA[[
  {
    "name": "Whistle Blowing",
    "udi": "umb://document/66a4818515eb40dba20f62b31716ad09",
    "queryString": "#whistle-blowing"
  },
  {
    "name": "Privacy Policy",
    "udi": "umb://document/66a4818515eb40dba20f62b31716ad09",
    "queryString": "#privacy-policy"
  },
  {
    "name": "Disclaimer",
    "udi": "umb://document/66a4818515eb40dba20f62b31716ad09",
    "queryString": "#disclaimer"
  },
  {
    "name": "Terms of Use",
    "udi": "umb://document/66a4818515eb40dba20f62b31716ad09",
    "queryString": "#terms-of-use"
  },
  {
    "name": "Cookies",
    "udi": "umb://document/66a4818515eb40dba20f62b31716ad09",
    "queryString": "#cookies"
  },
  {
    "name": "POPIA",
    "udi": "umb://document/66a4818515eb40dba20f62b31716ad09",
    "queryString": "#popia"
  }
]]]></Value>
    </quickLinks>
    <socialLinks>
      <Value><![CDATA[[
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/plus1x_official?igshid=YmMyMTA2M2Y="
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://www.linkedin.com/company/plusonex/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://www.youtube.com/channel/UCz52MWD7S_hrU7ffIXC-O9Q"
  }
]]]></Value>
    </socialLinks>
    <title>
      <Value><![CDATA[People. Technology. Transformation.]]></Value>
    </title>
  </Properties>
</Content>